* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
}

header {
    background-color:rgba(80, 137, 145, 1);
    line-height: 2;
}

header a {
    text-decoration: none;
    color: rgba(0, 67, 70, 1);
    padding: 8px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text: black;
    float: right;
}

.hero-image {
    background-image: url("./images/banner-g5d138f9e4_1920.jpg");
    line-height: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.flex-container {
    display: flex;
    text-overflow: wrap;
    padding: 10px;
}

.left-column {
    flex: 1;
    padding: 10px;
    border-right: black solid;
    text-align: right;
    
}
.right-column {
    padding: 10px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.work-section {
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   padding: 10px;
}

.contact-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text: black;
    float: right;
    text-decoration: none;
    
}

.contact-nav ul li {
    padding: 10px;
    float: right;
}