* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
}

header {
    background-color:rgba(80, 137, 145, 1);
    line-height: 2;
    display: flex;

}

header a {
    text-decoration: none;
    color: rgba(0, 67, 70, 1);
    padding: 7px;
}

header nav {
    padding: 10px;
}

img {
    float: left;
    width: 500px;
    height: 100px;
    object-fit: cover;
    justify-content: space-between;
    
}
.hero-image {
    background-image: url("./images/banner-g5d138f9e4_1920.jpg");
    line-height: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: white;
    text-align: center;

}

.flex-container {
    display: flex;
    text-overflow: wrap;
    padding: 10px;
}

.left-column {
    flex: 1;
    padding: 10px;
    border-right: black solid;
    text-align: right;
    text-decoration: none;
}
.right-column {
    padding: 10px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
.work-section {
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   padding: 20px;
   background-color: lightgray;
   text-align: center;
}

.contact-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: black;
    text-decoration: none;
}

.contact-nav ul li {
    padding: 10px;
    text-decoration: none; 
    list-style: none;
    text-align: right;
}
 